@using Microsoft.AspNetCore.Mvc.Localization
@model GestaoCustoBusiness.Model.Produto
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<form asp-action="Create">
    <h4>Produto</h4>
    <hr />
     @{await  Html.RenderPartialAsync("Produto" );}
</form>

<div>
    @if (string.IsNullOrEmpty(Context.Request.Query["receita"]))
    {
        <a asp-action="Index">Voltar</a>
    }
    else
    {
        <a asp-controller="Ingredientes"  asp-route-id="@Context.Request.Query["receita"]" asp-action="Create">Voltar</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
