@model GestaoCustoBusiness.Model.Produto

<form asp-action="Create" id="formEdit" >
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-horizontal">
            <div class="form-group">
                <label asp-for="Descricao" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Descricao" class="form-control" style="width: 100%" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Qtd" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Qtd" class="form-control" style="width: 100%" />
                    <span asp-validation-for="Qtd" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Preco" class="form-control" style="width: 100%" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">                    
                    <input type="submit" value="Salvar" class="btn btn-default" id="btnSave" />
                </div>
            </div>
        </div>
    </div>
</form>

@*<script type="text/javascript">
    $("#btnSave").click(function () {
        $.post("/Produtos/Edit", $("#formEdit").serialize()
        );
    });
</script>*@